@model WebsitePhucKhao.Models.SinhVien

<h2>Thông tin sinh viên</h2>

<div>
    <strong>Mã SV:</strong> @Model.MaSinhVien
</div>
<div>
    <strong>Họ tên:</strong> @Model.HoTen
</div>
<div>
    <strong>Email:</strong> @Model.Email
</div>
<div>
    <strong>Số điện thoại:</strong> @Model.SoDienThoai
</div>
<div>
    <strong>Khoa:</strong> @Model.Khoa
</div>
<div>
    <strong>Chuyên ngành:</strong> @Model.ChuyenNganh
</div>
<div>
    <strong>Lớp:</strong> @Model.Lop
</div>

<a asp-action="Index">Trở về</a>
