<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="~/css/admin.css">
	<title>Trang chủ - Quản trị viên</title>
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-graduation icon'></i>Admin</a>
		<ul class="side-menu">
			<li><a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })" class="active lazy-load"><i class='bx bxs-dashboard icon'></i> Dashboard</a></li>
			<li class="divider" data-text="main">Quản lý</li>
			<li>
				<a href="#"><i class='bx bxs-inbox icon'></i> Danh sách người dùng <i class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li><a href="@Url.Action("Index", "GiangVien", new { area = "Admin" })" class="lazy-load">Danh sách giảng viên</a></li>
					<li><a href="@Url.Action("Index", "NhanVienPhongDaoTao", new { area = "Admin" })" class="lazy-load">Danh sách nhân viên</a></li>
					<li><a href="@Url.Action("Index", "SinhVien", new { area = "Admin" })" class="lazy-load">Danh sách sinh viên</a></li>
					<li><a href="#">Button</a></li>
				</ul>
			</li>
			<li><a href="@Url.Action("Index", "Khoa", new { area = "" })"><i class='bx bxs-chart icon'></i> Khoa</a></li>
			<li><a href="@Url.Action("Index", "HocKy", new { area = "" })"><i class='bx bxs-widget icon'></i> Học kỳ</a></li>
			<li class="divider" data-text="table and forms">Table and forms</li>
			<li><a href="#"><i class='bx bx-table icon'></i> Tables</a></li>
			<li>
				<a href="#"><i class='bx bxs-notepad icon'></i> Forms <i class='bx bx-chevron-right icon-right'></i></a>
				<ul class="side-dropdown">
					<li><a href="#">Basic</a></li>
					<li><a href="#">Select</a></li>
					<li><a href="#">Checkbox</a></li>
					<li><a href="#">Radio</a></li>
				</ul>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->
	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar'></i>
			<a href="#" class="nav-link" style="margin-left: auto;">
				<i class='bx bxs-bell icon'></i>
				<span class="badge">5</span>
			</a>
			<a href="#" class="nav-link">
				<i class='bx bxs-message-square-dots icon'></i>
				<span class="badge">8</span>
			</a>
			<span class="divider"></span>
			<div class="profile">
				<img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
				<ul class="profile-link">
					<li><a href="#"><i class='bx bxs-user-circle icon'></i> Profile</a></li>
					<li><a href="#"><i class='bx bxs-cog'></i> Settings</a></li>
					<li>
						<form class="form-inline" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
							@Html.AntiForgeryToken()
							<a href="javascript:void(0)" onclick="document.getElementById('logoutForm').submit()">
								<i class='bx bxs-log-out-circle'></i> Đăng xuất
							</a>
						</form>
					</li>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->
		<!-- MAIN -->
		<div class="content-wrapper page-content">
			<div id="main-content">
				@RenderBody()
			</div>
		</div>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="~/js/admin.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>