@model IEnumerable<WebsitePhucKhao.ViewModels.PhucKhaoDuocPhanCongViewModel>
@using WebsitePhucKhao.Enums

<table class="table">
    <thead>
        <tr>
            <th>Mã Đơn</th>
            <th>Môn Học</th>
            <th>Điểm Trước Phúc Khảo</th>
            <th>Điểm Mong Muốn</th>
            <th>Lý Do</th>
            <th>Ngày Chấm Lại</th>
            <th>Người Duyệt</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaDon</td>
                <td>@item.TenMonHoc</td>
                <td>@item.DiemTruocPhucKhao</td>
                <td>@item.DiemMongMuon</td>
                <td>@item.LyDo</td>
                <td>@item.NgayChamLai?.ToString("dd/MM/yyyy")</td>
                <td>@item.NguoiDuyet</td>
                <td>
                    @if (item.DiemSauPhucKhao != null || item.TrangThaiPhucKhao == TrangThaiPhucKhao.DaCham)
                    {
                        <a asp-controller="GiangVien" asp-action="DetailChamDiem" asp-route-maDon="@item.MaDon" class="btn btn-sm btn-success">
                            Xem chi tiết
                        </a>
                        <a asp-action="EditChamDiem" asp-route-maDon="@item.MaDon" class="btn btn-warning btn-sm">
                            Sửa chấm điểm
                        </a>
                    }
                    else
                    {
                        <a asp-controller="GiangVien" asp-action="ChamDiem" asp-route-maDon="@item.MaDon" class="btn btn-sm btn-primary">
                            Chấm điểm
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
