@model List<WebsitePhucKhao.Models.DonPhucKhao>
@using WebsitePhucKhao.Enums

<h2>Danh sách đơn chờ duyệt</h2>

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Sinh viên</th>
            <th>Môn học</th>
            <th>Ngày gửi</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].SinhVien?.HoTen</td>
                <td>@Model[i].MonHoc?.TenMonHoc</td>
                <td>@Model[i].NgayGui.ToString("dd/MM/yyyy")</td>
                <td>@Model[i].TrangThai.ToFriendlyString()</td>


                <td>

                    <a asp-action="ChiTietPhucKhaoChoNhanVien" asp-route-id="@Model[i].MaDon" class="btn btn-info btn-sm">Chi tiết</a>

                    @if (Model[i].TrangThai == TrangThaiPhucKhao.ChoXacNhan)
                    {
                        <a asp-action="Duyet" asp-route-id="@Model[i].MaDon" class="btn btn-success btn-sm">Duyệt</a>
                    }

                    @if (Model[i].TrangThai == TrangThaiPhucKhao.DaDuyet)
                    {
                        <a asp-action="UploadBaiThi" asp-route-maDon="@Model[i].MaDon" class="btn btn-warning btn-sm">Upload bài thi</a>
                        <a asp-action="ChiTietUpload" asp-route-maDon="@Model[i].MaDon" class="btn btn-secondary btn-sm">Xem Upload</a>
                        <a asp-action="EditUpload" asp-route-maDon="@Model[i].MaDon" class="btn btn-secondary btn-sm">Sửa Upload</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
