<!-- Index.cshtml -->
@model IEnumerable<WebsitePhucKhao.Models.HocKy>

<h2>Danh sách Học Kỳ</h2>
<a asp-action="Add" class="btn btn-success">Thêm Học Kỳ</a>
<table class="table">
    <thead>
        <tr>
            <th>Mã Học Kỳ</th>
            <th>Tên Học Kỳ</th>
            <th>Năm Học</th>
            <th>Hành Động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaHocKy</td>
                <td>@item.TenHocKy</td>
      @*           <td>@item.NamHoc.TenNamHoc</td> *@
                <td>
                    <a asp-action="Update" asp-route-id="@item.MaHocKy" class="btn btn-warning">Sửa</a>
                    <a asp-action="Details" asp-route-id="@item.MaHocKy" class="btn btn-info">Chi tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.MaHocKy" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>